<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 출력되어지는 모양 (시간과 메세지) -->
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5}-%msg %n</pattern>
		</encoder>
	</appender>
	<!-- level = off -> 화면에 안 찍힘 원하는 것만 임의로 debug로 바꿀 수있음 -->
	<logger name="jdbc" level="OFF" />
	<logger name="jdbc.sqlonly" level="DEBUG" />
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="DEBUG" />
	<logger name="jdbc.resultsettable" level="DEBUG" />
	<logger name="jdbc.connection" level="OFF" />

	<!-- service 할 때는 debug가 아닌 info로 -> 시간 줄이기 위해 -->
	<!-- 개발할 때는 DEBUG -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>