@charset "UTF-8";

/******************************************************************
  Description:
  Created: qwaszx357
  Reference URI:
  Version: 2.0
******************************************************************/

/* 카드 스타일 */
.row {
	cursor: pointer;	/* 마우스 손가락 */
	padding: 1%;
	display: inline-flex;
}

/* 카드 호버 효과 시작 */ 
.cardup {
	transition: 0.2s ease;
	
}
.cardup:hover {
	transform: scale(1.05);
}
/* 카드 호버 효과 끝 */

#bar {
	height: 100%;
	background: #E32F6E;
}

#bar_div {
	height: 25px;
}



.complete{
	opacity: 0.5;
}

#pname > div > h6 {
	font-size: 20px;
}

table > thead > tr > th {
	font-weight: bold;
	color: black;
}

@media screen and (max-width: 900px) {
	.row {
		flex-direction: column;
		width: 100%;
	}
}

.btn-div {
	text-align: right;
	margin-right: 60px;
}
