@charset "UTF-8";

/******************************************************************
  Description:
  Created: qwaszx357
  Reference URI:
  Version: 1.0
******************************************************************/

#bar {
	height: 100%;
	background: #E32F6E;
}

#bar_div {
	height: 25px;
}

.card:hover {
	transform: scale(1.05);
}

.complete{
	opacity: 0.5;
}

#row1,  #row2 {
	padding: 1%;
	display: inline-flex;
}

#pname > div > h6 {
	font-size: 20px;
}

table > thead > tr > th {
	font-weight: bold;
	color: black;
}

@media screen and (max-width: 900px) {
	#row1, #row2 {
		flex-direction: column;
		width: 100%;
	}
}
