@charset "UTF-8";

/******************************************************************
  Description:
  Created: qwaszx357
  Reference URI:
  Version: 1.0
******************************************************************/

/* 검색 결과 테이블 시작 ------- */
.img-size {
	width: 150px;
	height: 100px;
}

.th-width1 {
    width: 25%;
}
 
.th-width2 {
    width: 18%;
}
 
.th-width3 {
    width: 18%;
}
 
.th-width4 {
    width: 50%;
}

.table-fixed {
	height: 100px;
	table-layout: fixed;
	cellpadding: 10px;
}

.td-height {
	word-break: break-all;
}

.table-responsive {
	overflow-x: hidden;
}

.table-fixed .td-height {
	white-space: normal;
}
/* 검색 결과 테이블 끝 ------- */