<!DOCTYPE html>
<!-- Version: 9.0 -->
<!-- Description: 메인 페이지의 기본 중간 화면 (검색창)

-------------------------------------------------------------------------------
	Date			 Author							Note
-------------------------------------------------------------------------------
2022. 7. 15.	    noranbear				   First Creation

2022. 7. 16.							Bootstrap Dashboard page 탬플릿으로 바꿈

2022. 7. 18. 								  검색 페이지 화면 구성
                              				  main-logo path 변경

2022. 7. 19.		qwaszx357				  검색 결과 출력 화면 구성

2022. 7. 21.		noranbear				검색 결과 화면 출력 테스트 완료
	
2022. 7. 22.							  getdataAJAXtest.html 내용을 
										  대입해서 테이블 내에 결과 출력하기	

					ynr1734						OCR 이미지 창 구현

					qwaszx357					footer 지우기

2022. 7. 23.		noranbear				  검색 없음 메세지 출력
										medidetail controller로 item 보내기 시작

2022. 7. 25.							medidetail controller로 item 보내기 성공	

											ocr 이미지 controller로 보내기 성공												 
								  			
2022. 7. 26.									ocrbox 실행 성공

             	     najune						분류 검색 기능 추가	

2022. 7. 29.		qwaszx357			검색 결과 div 크기 변경, 대체 이미지 출력

2022. 8. 4.			noranbear					indentation	수정				 
			  							 
-------------------------------------------------------------------------------
-->

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- stylesheet -->
<link href="./assets/ezocss/centercss.css" rel="stylesheet" />

<script>
/**
 * 디테일 페이지로 선택된 아이템이름 보내기
 */
function getname(item){
	var text = $(item).text();
	//alert(text);
	
	location.href="/medidetail?item=" + text;
}

/**
 * 검색된 결과를 '검색 결과 div'에 출력하는 함수
 */
function display(data){
	var html= "";		// 출력할 html을 담을 변수
	var th = "text-center text-uppercase text-secondary font-weight-bolder'>";	// 반복되는 것 변수로 만들어버리기
	
	remove();			// 지우기

	// 1. 테이블 생성
	html += "<div class='card-body px-0 pb-2'>";
	html += "<div class='table-responsive'>";
	html += "<table class='table-fixed table align-items-center mb-0'>";
	// 헤더
	html += "<thead><tr>";
	html += "<th class='th-width1 " + th + "이미지</th>";
	html += "<th class='th-width2 " + th + "제품명</th>";
	html += "<th class='th-width3 " + th + "업체명</th>";
	html += "<th class='th-width4 " + th + "효능</th>";
	html += "</tr></thead>";
	
	// 바디
	html += "<tbody>";
	// 데이터 집어넣기
	$.each(data, function (i, item){
		var itemname = data[i].itemName;
		var imgurl = data[i].itemImage;
		var company = data[i].entpName;
		var efficacy = data[i].efcyQesitm;

		html += "<tr class='tr-height'>"
		html += "<td class='align-middle text-center'><img style='height:100px; width: 100px;' src='" + imgurl + "' onerror=this.src='img/logo.png';></td>";
		html += "<td class='align-middle text-center'><a href='#' onclick='getname(this);'>"+ itemname +"</a></td>";
		html += "<td class='align-middle text-center'>"+ company +"</td>";
		html += "<td class='td-height align-middle text-center'>"+ efficacy +"</td>";
		html += "</tr>";
	});
	
	// close
	html += "<tbody>";
	html += "</table></div></div>";

	// 2. 생성된 테이블 출력
	$('#result-div').html(html);
			
}

/**
 * 기존에 있던 mid-div와 검색 결과를 지우는 함수
 */
function remove(){
	// 1. 중간 공간을 지워줌
	$('#remove-div').remove();
	
	// 2. 이전 출력 결과가 있다면 지워줌.
	$('#result-div').empty();
	// 또는
	//$('#this_div2').html("");	
}
/**
 * 검색된 결과를 받아 해당하는 약 데이터를 ajax로 가져오는 함수
 */
function getData(param){
	$.ajax({
		method: 'GET',
		url:'/dataget',
		data:{'item':param},
		dataType: 'json',
		// [1] 해당 데이터가 없을 때
		error: function(error) {
			var html= "";	// 출력할 html을 담을 변수  
			remove();		// 지우기

			// 1. 검색 결과 없음 메세지 생성
			html += "<div class='card-body px-0 pb-2' style='text-align:center;'>"; 
			html += "<h5>'"+ param + "'에 대한 검색 결과가 없습니다.</h5>";
			// close
			html += "</div>";
			
			// 2. 생성된 메세지 출력
			$('#result-div').html(html);
		},
		// [2] 해당 데이터가 있을 때
		success:function(data){
			// test
			//alert(data);
		 	console.log(data);
			display(data);
		}
	});
	
};

function getData2(param){
	$.ajax({
		method: 'GET',
		url:'/dataget2',
		data:{'item':param},
		dataType: 'json',
		// [1] 해당 데이터가 없을 때
		error: function(error) {
			var html= "";	// 출력할 html을 담을 변수  
			remove();		// 지우기

			// 1. 검색 결과 없음 메세지 생성
			html += "<div class='card-body px-0 pb-2' style='text-align:center;'>"; 
			html += "<h5>''에 대한 검색 결과가 없습니다.</h5>";
			// close
			html += "</div>";
			
			// 2. 생성된 메세지 출력
			$('#result-div').html(html);
		},
		// [2] 해당 데이터가 있을 때
		success:function(data){
			// test
			//alert(data);
		 	console.log(data);
			display(data);
		}
	});
	
};

function getData3(param){
	$.ajax({
		method: 'GET',
		url:'/dataget3',
		data:{'item':param},
		dataType: 'json',
		// [1] 해당 데이터가 없을 때
		error: function(error) {
			var html= "";	// 출력할 html을 담을 변수  
			remove();		// 지우기

			// 1. 검색 결과 없음 메세지 생성
			html += "<div class='card-body px-0 pb-2' style='text-align:center;'>"; 
			html += "<h5>''에 대한 검색 결과가 없습니다.</h5>";
			// close
			html += "</div>";
			
			// 2. 생성된 메세지 출력
			$('#result-div').html(html);
		},
		// [2] 해당 데이터가 있을 때
		success:function(data){
			// test
			//alert(data);
		 	console.log(data);
			display(data);
		}
	});
	
};

$(document).ready(function(){
	
	/* 검색버튼 클릭 시, 약 데이터 불러오기 */
	$('#search_bt').click(function(){
		var param = $('#param').val();
		var a = $("#sort").val(); // The text content of the selected option
		//alert(param); 	
    
	    if(param != ""){	// 검색어가 존재하지 않을 때
	        if(a == "dataget3"){									
	        	getData3(param);
	        	
	        }else if (a == "dataget2"){	
	        	getData2(param);
	        	
	        }else {		
	        	getData(param);	
	        	
	        }
	    }
	});	
				
	/* ocr 창에서 검색 버튼 클릭 시, 해당 사진 저장 */
	$('#ocr_bt').click(function(){
		var img = $('#file').val();
		
		// box 폴더에 ocr 이미지 저장 후 ocr 스캔 
		$('#ocrpic').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'ocraddimpl'
		});
		
		$('#ocrpic').submit();
	
	});
});

/*
 * Modal 창에서 input 이미지 프리뷰 
 */
function readURL(input) {
	if (input.files && input.files[0]) {
		var reader = new FileReader();
	    reader.onload = function(e) {
			document.getElementById('preview').src = e.target.result;
	    };
	    reader.readAsDataURL(input.files[0]);
	} else {
	    document.getElementById('preview').src = "";
	}
}
</script>

<!-- 1. 로고 -->
<div class="int_t">
	<div class="int_tc">
		<img class="logo_img" alt="e약어때 로고" height="92" src="../img/main-logo.png" width="272">
	</div>
</div>

<!-- 2-1. 검색창 시작 -->
<div class="search-div">
	<form class="form-inline">
		<div class="col-lg-6 mx-auto">		
			<div class="search_box">
				<!-- 검색 분류 -->
				<select class="select-control" id="sort" name="sort">
					<option>전체</option>
					<option value="dataget">제품명</option>
					<option value="dataget2">업체명</option>
					<option value="dataget3">효능</option>
				</select>
				<!-- 검색창 -->
				<div class="input-group input-group-lg input-group-outline py-3">
			  		<input type="text" id="param" class="form-control form-control-lg" th:value="${resultname}" placeholder="어떤 약을 찾으시나요?">
			  	</div>
			  	<a id="search_bt" class="btn bg-gradient-primary w-auto me-2"><i class="fas fa-search" aria-hidden="true"></i></a>
				
				<!-- OCR 스캔 시작 -->
			    <button id="scan_bt" type="button" class="btn btn-block bg-gradient-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal-default"><i class="fa fa-camera"></i></button>
				<!-- OCR Modal 창(2-2)으로 연결 -->
			</div>
		</div>
	</form>
</div>
<!-- 2-1. 검색창 끝 -->

<!-- 2-2. OCR Modal 창 -->
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
	<div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title" id="modal-title-default">이미지로 검색하기</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<!-- 파일 업로드 -->
			<form id="ocrpic">
				<div id="modal-body" class="modal-body">
					<!-- input css 변경 -->
					<label for="file">
					  <a class="btn-upload">파일 선택</a>
					</label>
					<div class="form-group">
						<input type="file" name="mf" id="file" accept="image/*" onchange="readURL(this);">
					</div>
					<img id="preview">
					<h6>OR</h6>
					<!-- 이미지 링크 -->
					<input type="url" id="url-search" placeholder="이미지 링크"><!-- name 없애놓음 -->
				</div>
				<div class="modal-footer">
					<a id="ocr_bt" class="btn bg-gradient-primary">검색</a>
					<button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">닫기</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 2-2. OCR Modal 끝 -->

<!-- 3-1. 검색창과 풋터 사이의 여백 (검색전) -->
<div class="mid-div" id="remove-div"></div>

<!-- 3-2. 검색 결과 출력 시작 -->
<div class="search_card col-lg-9 col-10 mb-md-0 mb-4 mx-auto">
	<div class="card" id="result-div">
		<!-- 검색 결과가 출력되는 곳 -->
	</div>
</div>
<!-- 검색 결과 출력 끝 -->
