<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.AlarmMapper">

	<insert id="insert" parameterType="alarmVo">
	    INSERT INTO alarm(mad, time, date, pid) VALUES (#{mad},#{time},#{date},#{pid})
	</insert>
	<update id="update" parameterType="alarmVo">
	    UPDATE alarm SET MAD=#{mad},TIME=#{time},BUTTON=#{button},DATE=#{date} WHERE ID=#{id}
	</update>
	<update id="updatebt" parameterType="alarmVo">
	    UPDATE alarm SET BUTTON=#{button} WHERE ID=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
	    DELETE FROM alarm WHERE ID=#{id}
	</delete>
	
	<select id="select" parameterType="int" resultType="alarmVo">
	    SELECT * FROM alarm WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="alarmVo">
	    SELECT * FROM alarm
	</select>
	
	<select id="selectpalarms" parameterType="int" resultType="alarmVo">
	    SELECT * FROM alarm WHERE PID=#{pid}
	</select>
	<select id="selectpalarms2" parameterType="int" resultType="alarmVo">
	    SELECT * FROM alarm WHERE DATE=CURDATE() AND PID=#{pid}
	</select>
	
	<!-- 마이페이지 오늘 알람 출력 -->
	<select id="select5alarms" parameterType="String" resultType="alarmVo">
		SELECT al.mad AS mad, al.time AS time, al.button AS button, al.pid AS pid, pl.hospital AS phos FROM alarm al
		JOIN plist pl ON al.pid = pl.id
		WHERE pl.uid = #{uid} AND pl.status = "복용중" AND date = curdate() AND al.time > DATE_FORMAT(SYSDATE(), '%H:%i') 
		ORDER BY time ASC LIMIT 5;
	</select>
	
</mapper>