<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.MymediMapper">

	<insert id="insert" parameterType="mymediVo">
	    INSERT INTO mymedi VALUES (NULL,#{name},#{usedate},CURDATE(),#{uid},#{image},NULL)
	</insert>
	<update id="update" parameterType="mymediVo">
	    UPDATE mymedi SET USEDATE=#{usedate},NOTE=#{note} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
	    DELETE FROM mymedi WHERE ID=#{id}
	</delete>
	
	<select id="select" parameterType="int" resultType="mymediVo">
	    SELECT * FROM mymedi WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="mymediVo">
	    SELECT * FROM mymedi
	</select>
	
	<!-- 사용기한 5일 이내 안내 -->
	<select id="selectdday" parameterType="String" resultType="mymediVo">
		SELECT name, (usedate - curdate()) AS dday FROM mymedi 
		WHERE UID=#{id01} AND (usedate - curdate()) IN (1,2,3,4,5);
	</select>
	
	<!-- search  -->
	
	<select id="get" parameterType="String" resultType="mymediVo">
		SELECT * FROM mymedi WHERE UID=#{uid} 
	</select>
	
</mapper>