<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.PlistMapper">
	
	<insert id="insert" parameterType="plistVo">
		INSERT INTO plist VALUES (NULL,#{uid},#{hospital},#{pdate},#{days},#{time},#{dtime},NULL)
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM plist WHERE ID=#{id}
	</delete>
	<update id="update" parameterType="plistVo">
		UPDATE plist SET TIME=#{time},DTIME=#{dtime},STATUS=#{status} WHERE ID=#{id}
	</update>
	
	<select id="select" parameterType="int" resultType="plistVo">
		SELECT * FROM plist WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="plistVo">
		SELECT * FROM plist
	</select>
	
	<!-- 처방내역 페이지에 출력 -->
	<select id="selectuser" parameterType="String" resultType="plistVo">
		SELECT p.id, p.uid, p.hospital, p.pdate, p.days, p.status, (p.days - (curdate() - p.pdate)) AS dday FROM plist p
		INNER JOIN users u ON p.uid = u.id WHERE p.uid=#{uid}
	</select>
	
  <!-- 동일한 유저 아이디, 조제일자, 병원이름을 가진 처방전 리턴 -->
	<select id="selecttheone" parameterType="plistVo" resultType="plistVo">
		SELECT * FROM plist WHERE UID=#{uid} AND PDATE=#{pdate} AND HOSPITAL=#{hospital}
  </select>
	<!-- 복약알람 끝나는 날짜 반환 -->
	<select id="selectenddate" parameterType="int" resultType="plistVo">
		SELECT p.id, p.uid, p.hospital, p.pdate, p.days, DATE_ADD(p.pdate, INTERVAL p.days DAY) AS enddate FROM plist p
		WHERE ID=#{id}
	</select>
	
		
	<!-- 복용 완료 시 -->
	<update id="editdone" parameterType="int">
		UPDATE plist SET STATUS="복용 완료" WHERE ID=#{id}
	</update>
	<!-- 복용 중지 버튼 클릭 시 -->
	<update id="editstop" parameterType="int">
		UPDATE plist SET DAYS=curdate()-pdate, STATUS="복용 중지" WHERE ID=#{id}
	</update>

	
</mapper>






