<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.PlistMapper">
	
	<insert id="insert" parameterType="plistVo">
		INSERT INTO plist VALUES (NULL,#{uid},#{hospital},#{pdate},#{days},#{time},#{dtime})
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM plist WHERE ID=#{id}
	</delete>
	<update id="update" parameterType="plistVo">
		UPDATE plist SET TIME=#{time},DTIME=#{dtime} WHERE ID=#{id}
	</update>
	
	<select id="select" parameterType="int" resultType="plistVo">
		SELECT * FROM plist WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="plistVo">
		SELECT * FROM plist
	</select>
	
	<!-- 처방내역 페이지에 출력 -->
	<!-- 복용중인 약 -->
	<select id="select_ing" parameterType="String" resultType="plistVo">
		SELECT p.id ,p.uid, p.hospital, p.pdate, p.days, (p.days - (curdate() - p.pdate)) AS dday FROM plist p
		INNER JOIN users u ON p.uid = u.id WHERE p.uid=#{uid} AND (p.days - (curdate() - p.pdate)) > 0
	</select>
	<!-- 복용 완료된 약 -->
	<select id="select_end" parameterType="String" resultType="plistVo">
		SELECT p.id, p.uid, p.hospital, p.pdate, p.days, (p.days - (curdate() - p.pdate)) AS dday FROM plist p
		INNER JOIN users u ON p.uid = u.id WHERE p.uid=#{uid} AND (p.days - (curdate() - p.pdate)) <![CDATA[<=]]> 0 
	</select>
	
	
	
	
</mapper>






