<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.PmediMapper">

	<insert id="insert" parameterType="pmediVo">
	    INSERT INTO pmedi VALUES (NULL,#{name},#{pid})
	</insert>
	<update id="update" parameterType="pmediVo">
	    UPDATE pmedi SET NAME=#{name} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
	    DELETE FROM pmedi WHERE ID=#{id}
	</delete>
	
	<select id="select" parameterType="int" resultType="pmediVo">
	    SELECT * FROM pmedi WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="pmediVo">
	    SELECT * FROM pmedi
	</select>
	
	<!-- 처방약 -->
	<select id="select_medi" parameterType="int" resultType="pmediVo">
		SELECT m.id, m.name, m.pid, ADDDATE(p.pdate , p.days) AS endday FROM pmedi m
		INNER JOIN plist p ON m.pid = p.id WHERE m.pid=#{pid}
	</select>
</mapper>