<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.UsersMapper">
	
	<insert id="insert" parameterType="usersVo">
		INSERT INTO users VALUES (#{id},#{pwd},#{name},#{email},#{birth},#{sex},"photo01.jpg",CURDATE(),20,1,NULL)
	</insert>
	<update id="update" parameterType="usersVo">
		UPDATE users SET PWD=#{pwd},NAME=#{name},EMAIL=#{email},BIRTH=#{birth} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM users WHERE ID=#{id}
	</delete>
	
	<select id="select" parameterType="String" resultType="usersVo">
		SELECT * FROM users WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="usersVo">
		SELECT * FROM users
	</select>

	<!-- 이용중인 유저만 조회 -->
	<select id="selectusers" resultType="usersVo">
		SELECT * FROM users WHERE UTYPE=20 AND STATUS=1
	</select>
	
	<!-- 전월 가입 회원 수 -->
	<select id="paccession" resultType="int">
		SELECT COUNT(*) FROM users WHERE UTYPE=20 and EXTRACT(MONTh FROM regdate) = EXTRACT(MONTh FROM CURDATE()) - 1
	</select>
	<!-- 이번달 가입 회원 수 -->
	<select id="accession" resultType="int">
		SELECT COUNT(*) FROM users WHERE UTYPE=20 and EXTRACT(MONTh FROM regdate) = EXTRACT(MONTh FROM CURDATE())
	</select>
	
	<!-- 전월 탈퇴 회원 수 -->
	<select id="psecession" resultType="int">
		SELECT COUNT(*) FROM users WHERE UTYPE=20 and STATUS=2 and EXTRACT(MONTh FROM qdate) = EXTRACT(MONTh FROM CURDATE()) - 1
	</select>
	<!-- 이번달 탈퇴 회원 수 -->
	<select id="secession" resultType="int">
		SELECT COUNT(*) FROM users WHERE UTYPE=20 and STATUS=2 and EXTRACT(MONTh FROM qdate) = EXTRACT(MONTh FROM CURDATE())
	</select>
	
	<!-- 총 회원 수 -->
	<select id="userscnt" resultType="int">
		SELECT COUNT(*) FROM users WHERE UTYPE=20 and STATUS=1
	</select>
	<!-- 전월 대비 회원 수 증감 -->
	<select id="usersgrowth" resultType="usersVo">
		SELECT * FROM month_growth_users WHERE month = EXTRACT(MONTh FROM CURDATE())
	</select>
	
	<!-- 총 순응도 -->
	<select id="usersgage" parameterType="String" resultType="usersVo">
		SELECT ROUND((COUNT(*) / (SELECT COUNT(*) FROM users u
		INNER JOIN plist p ON p.uid = u.id
        INNER JOIN alarm a ON a.pid = p.id
        WHERE u.id=#{id})) * 100,1) AS gage FROM users u
		INNER JOIN plist p ON p.uid = u.id
        INNER JOIN alarm a ON a.pid = p.id
		WHERE u.id=#{id} AND a.button="done"
	</select>
	<!-- 총 스캔 횟수 -->
	<select id="slistcnt" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM users u
		INNER JOIN slist s ON s.uid = u.id
		WHERE u.id=#{id}
	</select>
	<!-- 총 처방 내역 수 -->
	<select id="plistcnt" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM users u
		INNER JOIN plist p ON p.uid = u.id
		WHERE u.id=#{id}
	</select>
	<!-- 연령대 -->
	<select id="agegroup" parameterType="String" resultType="String">
		SELECT CASE
			WHEN 20 > age THEN '10대'
	        WHEN 30 > age THEN '20대'
	        WHEN 40 > age THEN '30대'
	        WHEN 50 > age THEN '40대'
	        WHEN 60 > age THEN '50대'
	        WHEN 70 > age THEN '60대'
	    END AS age_group
		FROM (SELECT *, FLOOR(date_format(now(), '%Y')-substring(birth,1,4)) age FROM users
		WHERE utype=20 AND status=1 AND id=#{id}) a
		GROUP BY age_group
		ORDER BY age_group
	</select>
	
	<!-- 탈퇴하기 -->
	<update id="deleteuser" parameterType="String">
		UPDATE users SET STATUS=2, QDATE=CURDATE() WHERE ID=#{id}
	</update>
	
</mapper>
